# Python Virtual Environment
venv/
env/
ENV/

.env

# Media Folders (Images aur Videos)
images/
videos/

# Temporary Files
temp_*
*.mp4
*.mp3
*.jpg
*.jpeg
*.png

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db