fastapi
uvicorn
langchain
langchain-groq
langchain-core
langchain-google-genai
pydantic
python-dotenv
gtts
moviepy
edge-tts
opencv-python-headless
pillow
requests
gradio>=5.0.0
python-multipart
cloudinary
imageio-ffmpeg
